ol{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin:0; 
    padding:10px;
    background-color: rgb(9, 13, 135);
    color:white;
    font-size: large;
    font-weight: bold;
}